<footer style="padding-top: 40px; padding-bottom: 30px; margin-top: 70px;
  border-top: 1px solid #e5e5e5; background-color: #f5f5f5;">
  <div class="container">
      <p>Compilación de Espartaco Palma.</p>
      <p>
        Este sitio cuenta con <a href="http://creativecommons.org/licenses/by/3.0/us/deed.es">Licencia Creative Commons Attribution 3</a><br/>
      </p>
      <p>Orgullosamente hospedado en <a href="https://github.com/esparta/97cosas/">github
          <img src="{{ site.baseurl }}/assets/img/github-mark.png" alt="GitHub • Social coding">
        </a>
      </p>
  </div>
</footer>
