<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>Compilación de Espartaco Palma.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Este sitio cuenta con <a href="http://creativecommons.org/licenses/by/3.0/us/deed.es">Licencia Creative Commons Attribution 3</a><br/>
        Orgullosamente hospedado en <a href="https://github.com/esparta/97cosas/">github
          <img src="{{ site.url }}/assets/img/github-mark.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
