<div class="header">
  <ul class="nav nav-pills pull-right">
    {% if page.url == "/programador/index.html" %}
      <li class="active">{% else %}<li>
    {% endif %}
      <a href="/programador/">Programador</a></li>
    {% if page.url == "/project-manager/index.html" %}
      <li class="active">{% else %}<li>
    {% endif %}
      <a href="/project-manager/">Project Manager</a></li>
    {% if page.url == "/arquitecto-software/index.html" %}
      <li class="active">{% else %}<li>
    {% endif %}
      <a href="/arquitecto-software/">Arquitecto de Software</a></li>
  </ul>
  <h3 class="text-muted"><a href="/">97 Cosas</a></h3>
</div>
