<div class="header">
  <ul class="nav nav-pills pull-right">
    {% if page.url == "/programador/index.html" %}
      <li class="active">{% else %}<li>
    {% endif %}
      <a href="/programador/">Programador</a></li>
    {% if page.url == "/pm/index.html" %}
      <li class="active">{% else %}<li>
    {% endif %}
      <a href="/pm/">Project Manager</a></li>
    {% if page.url == "/as/index.html" %}
      <li class="active">{% else %}<li>
    {% endif %}
      <a href="/as/">Arquitecto de Software</a></li>
  </ul>
  <h3 class="text-muted"><a href="/">97 Cosas</a></h3>
</div>
