
<div class="btn-group">
    <a class="btn btn-primary" href="#"><i class="icon-retweet icon-white"></i>Compartir</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span></a>
    <ul class="dropdown-menu">

        <li><div class="fb-share-button" data-href="http://97cosas.com/programador" data-type="button_count">
        </div></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://97cosas.com/programador" data-hashtags="97cosas">Tweet</a></li>
        <li><script type="IN/Share" data-url="http://97cosas.com/programador/" data-counter="right">
        </script></li>
    </ul>
</div>

